html{
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.contact-form form input {
	width: 100%;
	height: 51px;
	border: 1px solid #e1e1e1;
	padding-left: 2em;
	font-size: 16px;
	margin-bottom: 3em;
}
.contact-form form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	padding-left: 2em;
	font-size: 16px;
	padding-top: 1em;
	margin-bottom: 2em;
	resize: none;
}
.infoLink-button{
	margin-top: 1em;
	margin-bottom: 1em;
}
.link-logo-container{
	margin:auto;
	padding-top: 3%;
	padding-bottom: 3%;
}

#send-contact-form-button{
	font-size: 14px;
	color: #ffffff;
	padding: 1em 3em;
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	border: none;
	text-transform: uppercase;
	margin:auto;
}

#landingSection{
	background-image: url('../images/berlinbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	position:relative;
}

#suggestionSection{
	 position:relative;
}

#suggestionJumbo{
	font-family:'Montserrat',serif;
	font-size:84px;
	text-align:center;
}

#link-row{
	width:100%;
}

#suggestionReview-container{
	margin-left:4%;
	margin-right:4%;
	hyphens: auto;
	text-align: justify;
}

#more-info-text{
	font-family:'Montserrat',serif;
	font-size:28px;}

#dropMailJumbo{
	font-family:'Montserrat',serif;
	font-size:40px;
	text-align:center}

#suggestionReview{
	font-family:'Montserrat',serif;
	font-size:22px;}

#embeddedMap{
	border:0;
	height:100%;
	width:100%;
}

/* For mobile */
@media only screen and (max-width:991px){
	.selection-dropdown{
		margin-left: 3em;
		margin-right: 3em;
	}
	#SearchRestaurantButton{
		margin-left: 3em;
		margin-right: 3em;
	}
	.contact-form form{
		padding-left: 3em;
		padding-right: 3em;
	}
	#dropMailJumbo{
		margin-left: 1em;
		margin-right: 1em;

	}
	#suggestionJumbo{
		font-size:64px;
	}

	#second-navbar{
		visibility: hidden;
	}

}

/* For desktop screens */
@media only screen and (min-width:991px){
	#dropMailJumbo{
		padding-bottom: 2em;
	}
	.selection-dropdown{
		width: 110%;
	}
}
