html{
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}


.infoLink-button{
	margin-top: 1em;
	margin-bottom: 1em;
}
.link-logo-container{
	margin:auto;
	padding-top: 3%;
	padding-bottom: 3%;
}



#suggestion{
	flex:1;
}

#landingSection{
	background-image: url('../images/berlinbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	position:relative;
}

#suggestionSection{
	 position:relative;
	 height: 100vh;
}

#restaurantLinks{
	position: absolute;
	bottom: 0;
	width: 100%;
}


#suggestionJumbo{
	font-family:'Montserrat',serif;
	font-size:84px;
	text-align:center;
}

#link-row{
	width:100%;
}

#suggestionReview-container{
	margin-left:4%;
	margin-right:4%;
	hyphens: auto;
	text-align: justify;
}

#more-info-text{
	font-family:'Montserrat',serif;
	font-size:28px;}

#dropMailJumbo{
	font-family:'Montserrat',serif;
	font-size:40px;
	text-align:center}

#suggestionReview{
	font-family:'Montserrat',serif;
	font-size:22px;}

#embeddedMap{
	border:0;
	height:100%;
	width:100%;
}


/* For mobile */
@media only screen and (max-width:991px){
	.selection-dropdown{
		margin-left: 3em;
		margin-right: 3em;
	}
	#SearchRestaurantButton{
		margin-left: 3em;
		margin-right: 3em;
	}

	#dropMailJumbo{
		margin-left: 1em;
		margin-right: 1em;

	}
	#suggestionJumbo{
		font-size:64px;
	}

	#second-navbar{
		visibility: hidden;
	}

}

/* For desktop screens */
@media only screen and (min-width:991px){
	#dropMailJumbo{
		padding-bottom: 2em;
	}
	.selection-dropdown{
		width: 110%;
	}
}
