<!DOCTYPE html>
<html lang="en" id="main_html">
{% load static %}


<head>
  <title>{% block title %} Berl-Eat {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">



  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/landing.css">
  <base href="/">


</head>
<body>
<div id="app">

  {% if messages %}
  {% for message in messages %}
      <div class="alert alert-success mb-1 mt-1 " role="alert">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}




  <section class="full-screen-section full-screen-mobile flexxing" id="landingSection">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand abs" href="#"><img src="static/images/berl-icon.png" width="30" height="30"></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </nav>
    <div id="selection-wrapper">
      <div class="row mt-2 mb-2">
        <div class="col-lg-3">
          <div class="form-group selection-dropdown">
            <label for="mealTime-select">I want to have:</label>
            <select class="form-control" id="mealTime-select" v-model="mealTime">
              <option selected>Good Food</option>
              <option v-for="option in mealTime_list" :value="option">[[option]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group selection-dropdown">
            <label for="district-select">Somewhere in:</label>
            <select class="form-control" id="district-select" v-model="district">
              <option select>Complete Berlin</option>
              <option v-for="option in district_list" :value="option">[[option]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group selection-dropdown">
            <label for="cuisine-select">My prefered cuisine:</label>
            <select class="form-control" id="cuisine-select" v-model="cuisine">
              <option select>Tasty</option>
              <option v-for="option in cuisine_list" :value="option">[[option]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group selection-dropdown">
            <label for="extra-select">I'd love to have:</label>
            <select class="form-control" id="extra-select" v-model="extra">
              <option selected>A nice Time</option>
              <option v-for="option in special_list" :value="option">[[option]]</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-4 mb-2">
        <button type="button" class="btn btn-dark btn-lg btn-block" id="SearchRestaurantButton" @click="searchRestaurant">
          Tell me where to eat!
        </button>
      </div>
    </div>
  </section>



  <section id="suggestionSection" v-bind:class="{ 'full-screen-mobile': restaurantSuggestion }" class="flexxing">
    <nav id="second-navbar" class="second-navbar navbar-expand-lg"  v-if="restaurantLinks">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#suggestionSection">Suggestion</a>
          </li>
          <li class="nav-item" v-if="restaurantSuggestion['review']">
            <a class="nav-link" href="#restaurantSuggestionReview">Comment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#restaurantLinks">Links</a>
          </li>
          <li class="nav-item" v-if="restaurantSuggestion['gogoleMaps']">
            <a class="nav-link" href="#mapSection">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactSection">Contact</a>
          </li>
        </ul>
    </nav>
    <div>
      <div id="suggestionJumbo">
        <p id="suggestionName">[[restaurantSuggestion.name]]</p>
        <p id="suggestionDistrict">[[restaurantSuggestion.district]]</p>
      </div>
    </div>
  </section>

  <hr v-if="restaurantLinks">
  <section class="flexxing" id="restaurantLinks" v-show="restaurantLinks">
    <div class="row" id="link-row">
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestion['homepage']" class="link-logo-container flexxing">
        <a :href="restaurantSuggestion['homepage']" role="button" aria-disabled="true">
          <img alt="Homepage" src="static/images/logo_homepage.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestion['mVLink']" class="link-logo-container flexxing">
        <a :href="restaurantSuggestion['mVLink']" role="button" aria-disabled="true">
          <img alt="mitVergnuegen" src="static/images/logo_MitVergnuegen.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestion['tripadvisorLink']" class="link-logo-container flexxing">
        <a :href="restaurantSuggestion['tripadvisorLink']" role="button" aria-disabled="true">
          <img alt="Tripadvisor" src="static/images/logo_tripadvisor.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestion['facebookLink']" class="link-logo-container flexxing">
        <a :href="restaurantSuggestion['facebookLink']" role="button" aria-disabled="true">
          <img alt="Facebook" src="static/images/logo_fb.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestion['instagramLink']" class="link-logo-container flexxing">
        <a :href="restaurantSuggestion['instagramLink']" role="button" aria-disabled="true">
          <img alt="Instagram" src="static/images/logo_ig.png" width="80" height="80">
        </a>
      </div>
    </div>
  </section>

  <hr v-if="restaurantSuggestion['review']">
  <section class="full-screen-section flexxing" id="restaurantSuggestionReview" v-show="restaurantSuggestion['review']">
    <div id="suggestionReview-container">
          <p id="suggestionReview">
            [[review]]
          </p>
    </div>
  </section>

  <hr v-show="restaurantSuggestion['googleMapsLink']">
  <section class="full-screen-mobile flexxing" id="mapSection" v-show="restaurantSuggestion['googleMapsLink']">
    <div class="container-fluid fill flexxing">
        <iframe v-bind:src=[[restaurantSuggestion['googleMapsLink']]] id="embeddedMap" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </section>

  <hr>
  <section id="contactSection" class="full-screen-section flexxing" v-if="showContactForm">

      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10 contact-form">
          <p id="dropMailJumbo">
            We're always looking for new places to spend quality time. If your favorite place is missing please drop us a mail!
          </p>
          <form action="" method="post">
            {% csrf_token %}
              <div class="row">
                  <div class="col-lg-6">
                      {{ form.visitor_name.label }}
                      {{ form.visitor_name }}
                  </div>
                  <div class="col-lg-6">
                      {{ form.visitor_email.label }}
                      {{ form.visitor_email }}
                  </div>
                  <div class="col-lg-12">
                      {{ form.visitor_subject.label }}
                      {{ form.visitor_subject }}
                  </div>
                  <div class="col-lg-12">
                      {{ form.visitor_message.label }}
                      {{ form.visitor_message }}
                  </div>
                  <button id="send-contact-form-button" type="submit">Send Message</button>
              </div>
          </form>
        </div>
        <div class="col-lg-1">
        </div>
      </div>

  </section>

  <footer class="footer">
    <div class="text-center py-3">
      <p class="text-muted">© 2020 Copyright:Tristan Kast</p>
      <p class="text-muted">
         <a class="footer-link" href="https://icons8.com/icon/41494/berliner-fernsehturm">Berliner Fernsehturm icon by Icons8</a> | <span>Berlin Title Photo by <a class="footer-link" href="https://unsplash.com/@purzlbaum?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"> Claudio Schwarz | @purzlbaum</a> on <a class="footer-link" href="https://unsplash.com/s/photos/berlin?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
      </p>
      <p class="text-muted">
         <a class="footer-link" href="{% url 'about' %}"> Privacy </a><span> | </span><a class="footer-link" href="{% url 'about' %}"> Imprint </a>
      </p>
    </div>
  </footer>

</div>

<script type="module" src="{% static 'js/general.js' %}"></script>



</body>
</html>
