<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
  <title>{% block title %} Berl-Eat {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">



  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/landing.css">
  <base href="/">


</head>
<body>
<div id="app">

  {% if messages %}
  {% for message in messages %}
      <div class="alert alert-success mb-1 mt-1 " role="alert">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}


  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top:0; padding-bottom:0">
    <a class="navbar-brand abs" href="#" style="padding-top:0; padding-bottom:0;"><img src="static/images/berl-icon.png" width="30" height="30"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
  </nav>

  <section class="full-screen-section full-screen-mobile flexxing" id="landingSection">
    <div>
    <div class="row mt-2 mb-2">
      <div class="col-lg-3">
        <div class="form-group selection-dropdown">
          <label for="time-select">I want to have:</label>
          <select class="form-control" id="time-select" v-model="mealTime">
            <option selected>Good Food</option>
            <option v-for="option in mealTime_list" :value="option">[[option]]</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group selection-dropdown">
          <label for="district-select">Somewhere in:</label>
          <select class="form-control" id="district-select" v-model="district">
            <option select>Complete Berlin</option>
            <option v-for="option in district_list" :value="option">[[option]]</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group selection-dropdown">
          <label for="cuisine-select">My prefered cuisine:</label>
          <select class="form-control" id="cuisine-select" v-model="cuisine">
            <option select>Tasty</option>
            <option v-for="option in cuisine_list" :value="option">[[option]]</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group selection-dropdown">
          <label for="extra-select">I'd love to have:</label>
          <select class="form-control" id="extra-select" v-model="extra">
            <option selected>A nice Time</option>
            <option v-for="option in special_list" :value="option">[[option]]</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <button type="button" class="btn btn-dark btn-lg btn-block" id="SearchRestaurantButton" @click="searchRestaurant" href="#suggestionSection">Tell me where to eat!</button>
    </div>
    </div>
  </section>


  <hr v-if="restaurantSuggestion">
  <section id="suggestionSection" class="full-screen-mobile flexxing" v-if="restaurantSuggestion">
    <div>
      <p id="suggestionJumbo" style="text-align:center; padding-right:2%; padding-left:2%">
        [[restaurantSuggestion.name]], <br> [[restaurantSuggestion.district]]
      </p>
      <button v-if="moreInfoAvailable && !showMoreInfo" type="submit" @click="toggle_showMoreInfo" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none; margin:auto; padding:auto;padding-top: 15%;"><img src="{% static 'images/downarrow.png' %}" style="height:15%; width: 15%;"></button>
    </div>
  </section>

  <hr v-if="restaurantSuggestionReview && showMoreInfo">
  <section class="full-screen-section flexxing" id="restaurantSuggestionSection" v-show="restaurantSuggestionReview && showMoreInfo">
    <div style="margin-left:3%; margin-right:3%;">
          <p id="suggestionReview" style="text-align:center">
            [[restaurantSuggestionReview]]
          </p>
    </div>
  </section>

  <hr v-if="showMoreInfo">
  <section class="flexxing" id="restaurantLinks" v-show="showMoreInfo">
    <div class="row" style="width:100%">
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestionHomepage" class="link-logo-container flexxing">
        <!--<a :href="restaurantSuggestionHomepage" class="btn btn-outline-dark btn-lg btn-block infoLink-button" role="button" aria-disabled="true">Homepage</a>-->
        <a :href="restaurantSuggestionHomepage" role="button" aria-disabled="true">
          <img alt="Homepage" src="static/images/logo_homepage.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestionMV" class="link-logo-container flexxing">
        <a :href="restaurantSuggestionMV" role="button" aria-disabled="true">
          <img alt="mitVergnuegen" src="static/images/logo_MitVergnuegen.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestionTripadvisor" class="link-logo-container flexxing">
        <a :href="restaurantSuggestionTripadvisor" role="button" aria-disabled="true">
          <img alt="Tripadvisor" src="static/images/logo_tripadvisor.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestionFacebook" class="link-logo-container flexxing">
        <a :href="restaurantSuggestionFacebook" role="button" aria-disabled="true">
          <img alt="Facebook" src="static/images/logo_fb.png" width="80" height="80">
        </a>
      </div>
      <div :class="restaurantLinks_colTag" v-show="restaurantSuggestionInstagram" class="link-logo-container flexxing">
        <a :href="restaurantSuggestionInstagram" role="button" aria-disabled="true">
          <img alt="Instagram" src="static/images/logo_ig.png" width="80" height="80">
        </a>
      </div>
    </div>
  </section>

  <hr v-show="restaurantSuggestionMap && showMoreInfo">
  <section class="full-screen-mobile flexxing" v-show="restaurantSuggestionMap  && showMoreInfo">
    <div class="container-fluid fill">
      <div class="row fill flexxing">
        <iframe v-bind:src=[[restaurantSuggestionMap]] id="embeddedMap" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </section>

  <hr v-if="showContactForm">
  <section id="contactSection" class="full-screen-section flexxing" v-if="showContactForm">

    <div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10 contact-form">
          <p v-if="moreInfoAvailable" id="dropMailJumbo" style="text-align:center">
            We're always looking for new places to spend quality time. If your favorite place is missing please drop us a mail!
          </p>
          <form action="" method="post">
            {% csrf_token %}
              <div class="row">
                  <div class="col-lg-6">
                      {{ form.visitor_name.label }}
                      {{ form.visitor_name }}
                  </div>
                  <div class="col-lg-6">
                      {{ form.visitor_email.label }}
                      {{ form.visitor_email }}
                  </div>
                  <div class="col-lg-12">
                      {{ form.visitor_subject.label }}
                      {{ form.visitor_subject }}
                  </div>
                  <div class="col-lg-12">
                      {{ form.visitor_message.label }}
                      {{ form.visitor_message }}
                  </div>
                  <button class="orange-button" style="margin:auto;" type="submit">Send Message</button>
              </div>
          </form>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>

  </section>

  <hr>
  <footer class="footer">
    <div class="text-center py-3">
      <p class="text-muted">© 2020 Copyright:Tristan Kast</p>
      <p class="text-muted">
         <a class="footer-link" href="https://icons8.com/icon/41494/berliner-fernsehturm">Berliner Fernsehturm icon by Icons8</a> | <span>Berlin Title Photo by <a class="footer-link" href="https://unsplash.com/@purzlbaum?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"> Claudio Schwarz | @purzlbaum</a> on <a class="footer-link" href="https://unsplash.com/s/photos/berlin?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
      </p>
    </div>
  </footer>

</div>

<script type="module" src="{% static 'js/general.js' %}"></script>



</body>
</html>
